html, body {
    /* background: #ddd; */
    height: 100%;
}
main {
    background: #ddd url("../images/github-octocat.png") center no-repeat ;
    min-height: calc(100% - 56px);
    
}
.load {
    width: 300px;
    position: absolute;
    top: 40%; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}
.load img{
    width: 100%;
    padding: 5%;
}
.profile {
    background: rgba(255,255,255, 0.7);
    margin: 25px 0;
    max-height: 450px;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px;
}

.profile .card { 
    width: 99%;
    margin: 10px;
}
.profile h3{ 
    margin: 10px;
}
.profile .repos {
    width: 100%;
    padding: 10px 20px 10px 0px;
}


@media (min-width: 800px) 
{
    .profile {
        max-height: 65%;
    }
}
