html, body {
    /* background: #ddd; */
    height: 100%;
}
main {
    background: #ddd url("../images/github-octocat.png") center no-repeat ;
    min-height: calc(100% - 56px);
}
.load {
    width: 300px;
    position: absolute;
    top: 40%; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}
.load img{
    width: 100%;
    padding: 5%;
}
.profile {
    background: white;
    margin: 25px 0;
}
.profile .card{ 
    width: 100%;

}