html, body {
    background: #333;
    height: 100%;
}

.load {
    width: 300px;
    position: absolute;
    top: 40%; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}
.load img{
    width: 100%;
}